@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,700&family=PT+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
 }
 
 
body {
    font-family: pt serif, sans-serif; 
    font-weight: 300;
}

#menu {
    padding-left: 15px;
    background: rgb(0,0,0,0.9);
    word-spacing: 20px;
    font-size: 30px;
    font-family: fira;
    font-weight: 600;
}

footer {
    min-height: 120px;
    padding-top: 10px;
    background-color: rgb(0,0,0,0.9);
    color: #fff4f3;
    text-align: center;
    font-size: 20px;
}

#the-footer > p:first-child {
    float: left;
    text-align: left;
    width: 33.3%; }

#the-footer > p:nth-child(2) {
    float: left;
    text-align: center;
    width: 33.4%;
    }

#the-footer > p:last-child {
    float: right;
    text-align: center;
    width: 33.3%;
    }

#cover-text > h1 { 
    font-size: 150px;
    text-transform: uppercase;
    color:#fff4f3;
    font-family: fira;
}

#cover-text > h3 {
    color:#fff4f3;
    font-size: 30px;
    padding-left: 40px;
}



#dog-image {
    height: 800px;
    width: 100%;
    background: url('/images/dog running.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align:center;
    margin:auto;
    padding:0;
    
}

#cover-text {
    
    letter-spacing: 4px;
    width: 700px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    top: 120px;
    left :20px;
    position: absolute;

}